@import "tailwindcss";

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-25px);
    }
}

.float-parent {
    cursor: pointer;
}

.float-child {
    transition: transform 0.6s ease-out;
    will-change: transform;
}

.float-parent:hover .float-child{
    animation: floatUpDown 1.5s ease-in-out infinite;
}


.carousel-wrapper {
  width: 390px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
  padding: 10px;
  width: 265px;
}

.carousel-slide img {
  width: 370px;
  height: 203px;
  object-fit: cover;
  border-radius: 5px;
}

/* DOTS */
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cbd5e1;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background: #111827;
  transform: scale(1.3);
}
